.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

li{
    margin: 0rem;
    padding: 0rem;
}
h4{
    font-weight: 400;
}

.charts-container{
    width: 125px;
}
