.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #A9CAB0;
    padding: 0 1rem;
}

.buttons{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

h1{
    font-weight: 400;

}